{% if pager.total_pages > 1 %}
<!-- PAGINATION -->
<div class="pagination">
	<ul>
	{% if pager.has_previous %}
		<li><a href="?sayfa={{ pager.previous_page }}{% for key, value in pager.data.items %}{% if not key == 'sayfa' %}&{{key}}={{value}}{% endif %}{% endfor %}" class="prev">Önceki Sayfa</a></li>
	{% endif %}

	{% for i in pager.items %}
		<li>
		{% if i == 0 %}
			<span class="break">&hellip;</span>
		{% else %}
			<a {% if i == pager.current_page %}class="active" {% endif %}href="?sayfa={{ i }}{% for key, value in pager.data.items %}{% if not key == 'sayfa' %}&{{key}}={{value}}{% endif %}{% endfor %}">{{ i}}</a>
		{% endif %}
		</li>
	{% endfor %}

	{% if pager.has_next %}
		<li><a href="?sayfa={{ pager.next_page }}{% for key, value in pager.data.items %}{% if not key == 'sayfa' %}&{{key}}={{value}}{% endif %}{% endfor %}" class="next">Sonraki Sayfa</a></li>
	{% endif %}
	</ul>
</div>
<!-- /PAGINATION -->
{% endif %}
